

header{
  background-color: skyblue;
}

.class1{
    width: 100%;
    height: 15%;
    background-color: lightgray;
}
.controller{
  background-color: skyblue;
  color: green;
}

.newPage{

  display: none;
  color: blue;
  background-color: goldenrod;

}
